.row {
  color: #fff;
  margin-left: 20px;
  background-color: #111;
}

.row-posters {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 20px 0 20px 0;
}

.row-posters::-webkit-scrollbar {
  display: none;
}

.row-poster {
  margin-right: 10px;
  max-height: 100px;
  object-fit: cover;
  opacity: 0.8;
  transition: transform 0.45s;
  width: 150px;
}

.row-poster:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.08);
}

.row-posterLarge {
  max-height: 250px;
}

.row-posterLarge:hover {
  opacity: 1;
  transform: scale(1.09);
}
